@model ControleEquipamentosWeb.Models.Ocorrencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ocorrencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOcorrencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemDeServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemDeServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
