@model IEnumerable<ControleEquipamentosWeb.Models.Ocorrencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Ocorrências</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Ocorrência</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOcorrencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdemDeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevisaoRetorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOcorrencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemDeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevisaoRetorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
