@model IEnumerable<ControleEquipamentosWeb.Models.Emprestimo>

@{
    ViewData["Title"] = "Lista de Empréstimos";
}

<h1>Lista de Empréstimos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Empréstimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaDevolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.StatusEmprestimo)
                    {
                        <span>Devolvido</span>
                    }
                    else
                    {
                        <span> Pendente</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrevistaDevolucao)
                </td>
                <td>
                    @if (!@item.StatusEmprestimo)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
